body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:80px;
  width:300px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:80px;
  width:300px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:90px;
  top:85px;
  width:40px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:140px;
  width:300px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:200px;
  width:300px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:260px;
  width:300px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:320px;
  width:300px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:380px;
  width:300px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:440px;
  width:300px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
